img {
  width: 100%;
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}
h1 {
  text-align: center;
}
p {
  display: none;
}
