/*LOGO OG BG BILLEDE*/
.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  transform: translate(-50%, -50%);
}
.hero-bg {
  object-fit: cover;
  object-position: center center;
  height: 100vh;
}

.nav ul li a {
  color: #fefaf1;
}

.hero-bottom {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: #fefaf1;
  font-size: 14px;
}

/*CARDS*/
.cards {
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 4rem 1.5rem;
}

.card {
  text-align: center;
  width: 300px;
}

.image-wrapper {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease;
}

.image-wrapper:hover img {
  filter: blur(2px) brightness(0.6);
}

.overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  opacity: 0;
  font-size: 24px;
  font-weight: 1000;
  letter-spacing: 0.15em;

  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-wrapper:hover .overlay-text {
  opacity: 70%;
}

/* CTA */
.cta {
  padding: 6rem 1.5rem;
  display: flex;
  justify-content: center;
}

.cta-box {
  border: 1px solid #1a1a1a;
  padding: 3rem 4rem;
  text-align: center;
}

.cta-box h2 {
  font-size: 32px;
  letter-spacing: 0.15em;
  margin-bottom: 0.5rem;
}

.cta-box span {
  font-size: 14px;
  letter-spacing: 0.25em;
}

/* ---------- DESKTOP ---------- */
@media (min-width: 1024px) {
  /* HERO */
  .hero {
    height: 850px;
  }

  .hero-logo {
    width: 750px;
  }

  .hero-bg {
    object-fit: cover;
    object-position: center 40%;
  }
  /* CARDS */
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 90px;
    justify-content: center;
    padding: 80px 10vw;
  }

  .card img {
    height: 375px;
    object-fit: cover;
  }

  /* CTA */
  .cta {
    padding: 100px 0;
  }

  .cta-box {
    width: 260px;
    height: 360px;
    background: #5b4638;
    color: #fff;
  }
}
