/*LOGO*/
.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  transform: translate(-50%, -50%);
}

/*CARDS*/
.cards {
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card {
  text-align: center;
}

.card img {
  margin-bottom: 1rem;
}

.card p {
  font-size: 14px;
  letter-spacing: 0.02em;
}

/* CTA */
.cta {
  padding: 6rem 1.5rem;
  display: flex;
  justify-content: center;
}

.cta-box {
  border: 1px solid #1a1a1a;
  padding: 3rem 4rem;
  text-align: center;
}

.cta-box h2 {
  font-size: 32px;
  letter-spacing: 0.15em;
  margin-bottom: 0.5rem;
}

.cta-box span {
  font-size: 14px;
  letter-spacing: 0.25em;
}

/* ---------- DESKTOP ---------- */
@media (min-width: 1024px) {
  /* HERO */
  .hero {
    height: 850px;
  }

  .hero-logo {
    width: 420px;
  }
  /* CARDS */
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 90px;
    justify-content: center;
    padding: 80px 10vw;
  }

  .card img {
    height: 375px;
    object-fit: cover;
  }

  /* CTA */
  .cta {
    padding: 100px 0;
  }

  .cta-box {
    width: 260px;
    height: 360px;
    background: #5b4638;
    color: #fff;
  }
}
